ion-content{
    --background: rgb(204, 204, 250);
    border-left: 7px solid rgba(255, 234, 0, 0.826);

    .header{
        padding:12vw;
        margin: 9cm;
        color: aliceblue;
    }
    .form{
        padding: 0 12vw;
        margin-top: 70px;
        ion-input{
            --background: rgb(200, 200, 255);
            --padding-start: 33px;
            height: 55px;
            border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color: gray;
            --color: white;
        }
    }
        
}
