<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick&Morty
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rick&Morty</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let p of personajes">
    <img src="{{p.image}}" alt="no resulto">
    <ion-card-header>
      <ion-card-title>{{p.name}}</ion-card-title>
      <ion-card-subtitle>{{p.species}}</ion-card-subtitle>
      <ion-card-subtitle>{{p.gender}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{p.origin.name}}
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <div class="cuadrado">¯\_(ツ)_/¯</div>
</ion-content>
<ion-button id="play" color="primary">Iniciar</ion-button>
<ion-button id="pause" color="warning">Pausar</ion-button>
<ion-button id="stop" color="danger">Detener</ion-button>
<ion-button (click)="aumentar()">Aumentar</ion-button> -->
