<ion-header [translucent]="true">
 <ion-toolbar>
  <ion-title>
    Ionic
  </ion-title>
 </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>



<ion-list></ion-list>

<!-- <ion-content [fullscreen]="true">
  <div class="cuadrado">¯\_(ツ)_/¯</div>
</ion-content>
<ion-button id="play" color="primary">Iniciar</ion-button>
<ion-button id="pause" color="warning">Pausar</ion-button>
<ion-button id="stop" color="danger">Detener</ion-button>
<ion-button (click)="aumentar()">Aumentar</ion-button> -->
